/* Font import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,300;1,400;1,500;1,600;1,700&display=swap");

/* Colors used
- #080705
- #40434e
- #702632
- #fffffa */
/* Overall properties */
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
}

/* Header Prop */
/* Properties for Header */
header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 20px;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1rem;
  background-color: transparent;
  filter: drop-shadow(10px);
  z-index: 100;
}

/* properties for the Logo class*/
.logo {
  font-size: 3rem;
  color: #702632;
  font-weight: 800;
  cursor: pointer;
  transition: 0.5s ease;
  text-align: center;
}

/* What happens when Kalan Awashish is hovered over  */
.logo:hover {
  transform: scale(1.1);
}

/* Navigation Links */
nav a {
  font-size: 30px;
  color: #fffffa;
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}

/* Nav links when hover and with class actived */
nav a:hover,
nav a.active {
  color: #702632;
  border-bottom: 3px solid #702632;
}

/* Body */
/* properties of body */
body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: #080705;
  color: #fffffa;
}

/* Section properties */
section {
  min-height: 100vh;
  padding: 5rem 9% 5rem;
}

/* Properties for .home class */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
  background-color: #080705;
}

/* Properties of h1 in home and home-cotent classes */
.home .home-content h1 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.3;
}

/* properties of span */
span {
  color: #702632;
}

/* Properties of h3 home-content class */
.home-content h3 {
  font-size: 3.8rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

/* properties of p inside home-content class */
.home-content p {
  align-items: center;
  font-size: 1.7rem;
}

/* Home-img class properties */
.home-img {
  border-radius: 50%;
}

/* Properties of images inside home-img class */
.home-img img {
  position: relative;
  width: 32vw;
  border-radius: 50%;
  box-shadow: 0 0 25px solid #702632;
  cursor: pointer;
  transition: 0.2s linear;
}

/* when user hovers over image inside home-img class */
.home-img img:hover {
  font-size: 1.8rem;
  font-weight: 500;
}

/* social icons links class */
.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border: 0.2rem solid #702632;
  font-size: 2rem;
  border-radius: 50%;
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease;
  color: #702632;
}

/* What happens when the user hovers of the links inside social-icons class */
.social-icons a:hover {
  color: #702632;
  transform: scale(1.3) translateX(-5px);
  background-color: #fffffa;
  box-shadow: 0 0 25px #702632;
}

/* properties of btn */
.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background-color: #080705;
  border-radius: 4rem;
  font-size: 1.6rem;
  color: #702632;
  letter-spacing: 0.3rem;
  font-weight: 600;
  border: 2px solid #702632;
  transition: 0.3s ease;
  cursor: pointer;
}

/* Properties of btn when user hovers over it */
.btn:hover {
  transform: scale3d(1.03);
  background-color: #702632;
  color: #fffffa;
  box-shadow: 0 0 25px #702632;
}

/* Properties of typing-text class */
.typing-text {
  font-size: 2.2px;
  font-weight: 600;
  min-width: 17.5rem;
}

/* Properties of span inside typing-text class */
.typing-text span {
  position: relative;
}

/* Properties of span before inside typing-text class */
.typing-text span::before {
  content: "Software Developer";
  color: #702632;
  animation: words 14s infinite;
}

/* properties of span after inside typing-text class */
.typing-text span::after {
  content: "";
  background-color: #080705;
  position: relative;
  width: calc(100%);
  height: 100%;
  border-left: 3px solid #080705;
  left: 10px;
  animation: cursor 0.6s infinite;
}

/* Animation for the flicker of new words */
@keyframes cursor {
  to {
    border-left: 3px solid #702632;
  }
}

/* Animation for words */
@keyframes words {
  0%,
  20% {
    content: "Web Developer";
  }
  21%,
  40% {
    content: "Software Engineer";
  }
  41%,
  60% {
    content: "Web Designer";
  }
  61%,
  80% {
    content: "Hockey Player";
  }
  81%,
  100% {
    content: "Gamer";
  }
}

/* for screen sizes above 1640px */
@media (max-width: 1640px) {
  /* properties of h1 inside home-content */
  .home-content h1 {
    font-size: 2.8rem;
  }

  /* properties of h3 inside home-content */
  .home .home-content h3 {
    font-size: 2.9rem;
  }
}

@media (min-width: 1280px) and (max-width: 975px) {
  /* properties of h1 inside home-content */
  .home-content h1 {
    font-size: 15px;
  }

  /* properties of h3 inside home-content */
  .home .home-content h3 {
    font-size: 2.4rem;
  }
}

/* Website changes after it goes below 600px */
@media (max-width: 975px) {
  /* properties of home class */
  .home {
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5rem 4rem;
    align-items: center;
  }

  /* properties of h1 inside home-content */
  .home-content h1 {
    font-size: 3rem;
  }

  /* properties of h3 inside home-content */
  .home .home-content h3 {
    font-size: 3rem;
  }
  /* properties of images inside home-img */
  .home-img img {
    width: 50vw;
    margin-top: 4rem;
  }
}

/* Light Mode Properties */

@media (prefers-color-scheme: light) {
  /* properties of body */
  body {
    background: #fffffa;
    color: #080705;
  }

  /* Header */
  /* Navigation links properties*/
  nav a {
    font-size: 30px;
    color: #702632;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
  }

  /* nav bar links when hover and active class properties */
  nav a:hover,
  nav a.active {
    color: #702632;
    border-bottom: 3px solid #702632;
  }

  /* Body Properties */
  .home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: #fffffa;
  }

  /* cursor properties */
  @keyframes cursor {
    to {
      border-left: 3px solid #fffffa;
      background-color: #fffffa;
    }
  }

  /* typing-text span after properties */
  .typing-text span::after {
    content: "";
    background-color: #fffffa;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid #080705;
    right: -8;
    animation: cursor 0.6s infinite;
  }

  /* properties of links inside social-icons class */
  .social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #702632;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #702632;
  }

  /* properties of social icons links when user hovers over them */
  .social-icons a:hover {
    color: #fffffa;
    transform: scale(1.3) translateX(-5px);
    background-color: #702632;
    box-shadow: 0 0 25px #702632;
  }

  /* properties of btn */
  .btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: #fffffa;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #702632;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #702632;
    transition: 0.3s ease;
    cursor: pointer;
  }

  /* properties when user hovers over the btn class */
  .btn:hover {
    transform: scale3d(1.03);
    background-color: #702632;
    color: #fffffa;
    box-shadow: 0 0 25px #702632;
  }
}
