/* Properties of H1 */
h1 {
  font-size: 4rem;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}
/* Properties of h2 */
h2 {
  font-size: 3rem;
}
/* properties of h3 */
h3 {
  font-size: 1.2rem;
  margin-right: 2rem;
}
/* Properties of figure */
figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Properties of images inside figure  */
figure img {
  height: 100%;
  width: 170%;
  border: 1rem solid #702632;
  border-radius: 5%;
  right: 0;
}
/* when user hovers over images inside figure */
figure img:hover {
  box-shadow: 0 0 100px #702632;
  transition: 0.3s ease;
}
/* Properties of content-container class */
.content-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 5rem;
}
/* Properties of figure-flex-direction class */
.figure-flex-direction {
  flex-direction: row;
}
